@{
    ViewData["Title"] = "Cadastro";
}
<script>
    $(function () {
        var id = getParameterByName("id") == null ? "0" : getParameterByName("id");

        if (id !=="0") {
            $.ajax({
                type: "POST",
                url: "/Alunos/CarregarDados?id="+id,
                async: false,
                dataType: "JSON",
                contentType: "application/json; charset=UTF-8",
                success: function (jsonResult) {
                    $(jsonResult.mensagem).each(function () {
                        document.getElementById("id").value = this.id;
                        document.getElementById("nome").value = this.nome;
                        document.getElementById("data_nascimento").value = this.dataNascimento;
                        document.getElementById("rg").value = this.rg;
                        document.getElementById("cpf").value = this.cpf;
                        document.getElementById("whatsapp").value = this.whatsapp;
                        document.getElementById("email").value = this.email;
                        document.getElementById("investimento").value = this.investimento;
                        document.getElementById("melhorDataPagamento").value = this.melhorDataPagamento;
                        document.getElementById("cep").value = this.cep;
                        document.getElementById("logradouro").value = this.logradouro;
                        document.getElementById("complemento").value = this.complemento;
                        document.getElementById("bairro").value = this.bairro;
                        document.getElementById("cidade").value = this.cidade;
                        document.getElementById("estado").value = this.estado;
                    });
                }
            });
        }

        $('#btnSalvar').click(function () {
            if (camposValidos() === true) {
                var data = new FormData();
                data.append("Id", document.getElementById("id").value);
                data.append("Nome", document.getElementById("nome").value);
                data.append("Rg", document.getElementById("rg").value);
                data.append("DataNascimento", document.getElementById("data_nascimento").value);
                data.append("Cpf", document.getElementById("cpf").value);
                data.append("Whatsapp", document.getElementById("whatsapp").value);
                data.append("Email", document.getElementById("email").value);
                data.append("Investimento", document.getElementById("investimento").value);
                data.append("MelhorDataPagamento", document.getElementById("melhorDataPagamento").value);
                data.append("Cep", document.getElementById("cep").value);
                data.append("Logradouro", document.getElementById("logradouro").value);
                data.append("Complemento", document.getElementById("complemento").value);
                data.append("Bairro", document.getElementById("bairro").value);
                data.append("Cidade", document.getElementById("cidade").value);
                data.append("Estado", document.getElementById("estado").value);

                $.ajax({
                    url: "/Alunos/Gravar",
                    data: data,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        if (data.mensagem === "Ok") {
                            window.location.href = "/Alunos/Index";
                        } else {
                            alert(data.mensagem);
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        });
    });


    function camposValidos() {
        if (document.getElementById('nome').value === '') {
            alert('Campo obrigatório não preenchido: Nome ');
            document.getElementById('nome').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('data_nascimento').value === '') {
            alert('Campo obrigatório não preenchido: Data de Nascimento ');
            document.getElementById('data_nascimento').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('rg').value === '') {
            alert('Campo obrigatório não preenchido: Rg ');
            document.getElementById('rg').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('cpf').value === '') {
            alert('Campo obrigatório não preenchido: Cpf ');
            document.getElementById('cpf').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('whatsapp').value === '') {
            alert('Campo obrigatório não preenchido: WhatsApp ');
            document.getElementById('whatsapp').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('email').value === '') {
            alert('Campo obrigatório não preenchido: E-mail ');
            document.getElementById('email').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('investimento').value === '') {
            alert('Campo obrigatório não preenchido: Investimento ');
            document.getElementById('investimento').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('melhorDataPagamento').value === '0' || document.getElementById('melhorDataPagamento').value === 0) {
            alert('Campo obrigatório não preenchido: Melhor Data para Pagamento ');
            document.getElementById('melhorDataPagamento').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('cep').value === '') {
            alert('Campo obrigatório não preenchido: Cep ');
            document.getElementById('cep').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('logradouro').value === '') {
            alert('Campo obrigatório não preenchido: Logradouro ');
            document.getElementById('logradouro').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('complemento').value === '') {
            alert('Campo obrigatório não preenchido: Complemento ');
            document.getElementById('complemento').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('bairro').value === '') {
            alert('Campo obrigatório não preenchido: Bairro ');
            document.getElementById('bairro').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('cidade').value === '') {
            alert('Campo obrigatório não preenchido: Cidade ');
            document.getElementById('cidade').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        if (document.getElementById('estado').value === '') {
            alert('Campo obrigatório não preenchido: Estado ');
            document.getElementById('estado').focus();
            window.setTimeout(function () {
                $('#mensagemErro').hide();
                document.getElementById('mensagemErro').innerHTML = "";
            }, 6000);
            return false;
        }

        return true;
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function mascaraTelefone(campo) {

        if (mascaraInteiro(campo) == false) {
            event.returnValue = false;
        }
        return formataCampo(campo, '(00)9 0000-0000', event);
    }

    function mascaraRg(rg) {
        if ((rg) == false) {
            event.returnValue = false;
        }
        return formataCampo(rg, '00.000.000-0', event);
    }

    function mascaraCpf(cpf) {
        if (mascaraInteiro(cpf) == false) {
            event.returnValue = false;
        }
        return formataCampo(cpf, '000.000.000-00', event);
    }

    function mascaraCep(cep) {
        if (mascaraInteiro(cep) == false) {
            event.returnValue = false;
        }
        return formataCampo(cep, '00.000-000', event);
    }

    function buscarCep(cep) {
        cep = cep.replace('.','');
        cep = cep.replace('/', '');

        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

            if (!("erro" in dados)) {
                //Atualiza os campos com os valores da consulta.
                $("#logradouro").val(dados.logradouro);
                $("#bairro").val(dados.bairro);
                $("#cidade").val(dados.localidade);
                $("#estado").val(dados.uf);
            } //end if.
            else {
                //CEP pesquisado não foi encontrado.
                alert("CEP não encontrado.");
                $('#cep').focus();
            }
        });
    }

    //formata de forma generica os campos
    function formataCampo(campo, Mascara, evento) {
        var boleanoMascara;

        var Digitato = evento.keyCode;
        exp = /\-|\.|\/|\(|\)| /g
        campoSoNumeros = campo.value.toString().replace(exp, "");

        var posicaoCampo = 0;
        var NovoValorCampo = "";
        var TamanhoMascara = campoSoNumeros.length;;

        if (Digitato != 8) { // backspace 
            for (i = 0; i <= TamanhoMascara; i++) {
                boleanoMascara = ((Mascara.charAt(i) == "-") || (Mascara.charAt(i) == ".")
                    || (Mascara.charAt(i) == "/"))
                boleanoMascara = boleanoMascara || ((Mascara.charAt(i) == "(")
                    || (Mascara.charAt(i) == ")") || (Mascara.charAt(i) == " "))
                if (boleanoMascara) {
                    NovoValorCampo += Mascara.charAt(i);
                    TamanhoMascara++;
                } else {
                    NovoValorCampo += campoSoNumeros.charAt(posicaoCampo);
                    posicaoCampo++;
                }
            }
            campo.value = NovoValorCampo;
            return true;
        } else {
            return true;
        }
    }

    function mascaraInteiro() {
        if (event.keyCode < 48 || event.keyCode > 57) {
            event.returnValue = false;
            return false;
        }
        return true;
    }

</script>
<section class="section">
    <h1 class="section-header">
        Cadastro de Alunos
    </h1>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="dados-cadastrais" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-responsive" style="overflow-x: auto">

                <div id="mensagemSucesso" class="alert alert-success" style="display:none">

                </div>
                <div id="mensagemErro" class="alert alert-danger" style="display:none">

                </div>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="id" value="0"  />
                            <input type="text" class="form-control" id="nome" maxlength="200" /></td>
                        <td><input type="date" class="form-control" id="data_nascimento" /></td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Rg</th>
                        <th>Cpf</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="rg" maxlength="12" onkeypress="mascaraRg(this)"  /></td>
                        <td><input type="text" class="form-control" id="cpf" maxlength="14" onkeypress="mascaraCpf(this)"  /></td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>WhatsApp</th>
                        <th>E-mail</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="whatsapp" maxlength="15" onkeypress="mascaraTelefone(this);"  /></td>
                        <td><input type="email" class="form-control" id="email" maxlength="200"  /></td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Investimento</th>
                        <th>Melhor data para pagamento</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="investimento"  maxlength="200" /></td>
                        <td>
                            <select class="form-control" id="melhorDataPagamento" name="melhorDataPagamento">
                                <option value="0" selected>--Selecione</option>
                                <option value="5">05 de cada mês</option>
                                <option value="10">10 de cada mês</option>
                                <option value="15">15 de cada mês</option>
                                <option value="20">20 de cada mês</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th style="width:30%">Cep</th>
                        <th style="width:70%">Logradouro</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="cep" maxlength="10" onfocusout="buscarCep(this.value)" onkeypress="mascaraCep(this)"  /></td>
                        <td><input type="text" class="form-control" id="logradouro" maxlength="200"  /></td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Complemento</th>
                        <th>Bairro</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="complemento" maxlength="200"  /></td>
                        <td><input type="text" class="form-control" id="bairro" maxlength="200"   /></td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Cidade</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" id="cidade" maxlength="200" /></td>
                        <td><input type="text" class="form-control" id="estado" maxlength="200"  /></td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="button" class="btn btn-primary" id="btnSalvar" value="Salvar" />&nbsp;<input type="button" class="btn btn-danger" id="btnCancelar" value="Cancelar" onclick="window.location.href = '/Alunos/Index'" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
