
@{
    ViewData["Title"] = "Cadastro";
}
<script>
    $(function () {
        var id = getParameterByName("id") == null ? "0" : getParameterByName("id");

        if (id !== "0") {
            $('#hdnCursoId').val(id);

            $.ajax({
                type: "GET",
                url: "/Cursos/CarregarDadosCurso?id=" + $('#hdnCursoId').val(),
                contentType:"application/JSON; charset=UTF-8",
                dataType: "json",
                success: function (jsonResult) {
                    $(jsonResult.dados).each(function () {
                        $('#txtDescricaoCurso').val(this.descricao);
                        $('#ddlCategoria').val(this.idCategoriaCurso);
                        $('#txtSlugCurso').val(this.slug);
                        $('#txtValorCurso').val(this.valor);
                    });
                }
            });
        }

        $('#btnSalvarCategoria').click(function () {
            if (document.getElementById('txtDescricaoCategoria').value === '') {
                alert('Campo obrigatório não preenchido: Descrição');
                document.getElementById('txtDescricaoCategoria').focus();
                return false;
            }

            var data = new FormData();

            data.append("Id", '0');
            data.append("Descricao", $('#txtDescricaoCategoria').val());

            $.ajax({
                url: "/Cursos/GravarCategoria",
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.Id !== "0" || data.Id > 0) {
                        window.location.reload(true);
                    } else {
                        alert(data.mensagem);
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        });

        $('#btnSalvarCurso').click(function () {
            if (document.getElementById('txtDescricaoCurso').value === '') {
                alert('Campo obrigatório não preenchido: Descrição');
                document.getElementById('txtDescricaoCurso').focus();
                return false;
            }

            if (document.getElementById('txtValorCurso').value === '') {
                alert('Campo obrigatório não preenchido: Valor');
                document.getElementById('txtValorCurso').focus();
                return false;
            }

            if (document.getElementById('txtSlugCurso').value === '') {
                alert('Campo obrigatório não preenchido: Slug');
                document.getElementById('txtSlugCurso').focus();
                return false;
            }

            var data = new FormData();

            data.append("Id", $('#hdnCursoId').val());
            data.append("Descricao", $('#txtDescricaoCurso').val());
            data.append("Valor", $('#txtValorCurso').val());
            data.append("IdCategoriaCurso", $('#ddlCategoria').val());
            data.append("Slug", $('#txtSlugCurso').val());

            $.ajax({
                url: "/Cursos/GravarCurso",
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (jsonResult) {
                    console.log(jsonResult);
                    /*if (jsonResult.includes("sucesso") === true) {
                        $('#mensagemSucesso').show();
                        $('#mensagemSucesso').html(jsonResult);
                        window.setTimeout(function () {
                            window.location.href = "/Cursos/Index"
                        }, 3000);
                    } else {
                        $('#mensagemErro').show();
                        $('#mensagemErro').html(jsonResult);
                    }
                    */
                },
                error: function (request, status, error) {
                    /*alert(request.responseText);*/
                }
            });
        });
    });

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
</script>
<section class="section">
    <h1 class="section-header">
        Cadastro de Cursos
    </h1>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="dados-cadastrais" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-responsive" style="overflow-x: auto">
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Categoria</th>
                        <th>
                            <div class="modal fade" id="popCategoria" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="section-header">
                                                Categoria dos Cursos
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table" style="width: 100%">
                                                <tr>
                                                    <th>Descrição</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" id="txtDescricaoCategoria" class="form-control" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <table class="table" style="width: 100%">
                                                <tr>
                                                    <td>
                                                        <input type="button" id="btnSalvarCategoria" value="Salvar" class="btn btn-primary" />
                                                        <input type="button" id="btnCancelarCategoria" value="Cancelar" class="btn btn-danger" onclick="$('#popCategoria').modal('hide')" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <select id="ddlCategoria" class="form-control">
                                @foreach (var item in ViewBag.Categoria)
                                {
                                    <option value="@item.Id">@item.Descricao</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" id="btnCadastrar" value="Cadastrar" data-toggle="modal" data-target="#popCategoria" data-backdrop="" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="hdnCursoId" value="0" />
                            <input type="text" id="txtDescricaoCurso" class="form-control" />
                        </td>
                        <td>
                            <input type="text" id="txtValorCurso" class="form-control moeda" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Slug</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="txtSlugCurso" class="form-control" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <td>
                            <input type="button" id="btnSalvarCurso" value="Salvar" class="btn btn-primary" />
                            <input type="button" id="btnCancelarCurso" value="Cancelar" class="btn btn-danger" onclick="window.location.href = '/Cursos/Index'" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

