@{
    ViewData["Title"] = "Cadastro";
}
<script>
    $(function () {
        var id = getParameterByName("id") == null ? "0" : getParameterByName("id");

        ListarCursos();
        ListarAlunos();
        ListarParceiros();

        if (id !== "0") {
            $('#hdnIdMatricula').val(id);

            $.ajax({
                type: "GET",
                url: "/Matriculas/CarregarDadosMatricula?id=" + $('#hdnIdMatricula').val(),
                contentType: "application/JSON; charset=UTF-8",
                dataType: "json",
                success: function (jsonResult) {
                    $(jsonResult).each(function () {
                        $('#txtDataMatricula').val(this.dataMatricula);
                        $('#ddlCurso').val(this.idCurso);
                        $('#ddlAluno').val(this.idAluno);
                        $('#ddlParceiro').val(this.idParceiro);
                    });
                }
            });
        }

        $('#btnSalvarMatricula').click(function () {
            var data = new FormData();

            data.append("Id", $('#hdnIdMatricula').val());
            data.append("IdAluno", $('#ddlAluno').val());
            data.append("IdCurso", $('#ddlCurso').val());
            data.append("IdParceiro", $('#ddlParceiro').val());
            data.append("DataMatricula", $('#txtDataMatricula').val());

            $.ajax({
                url: "/Matriculas/GravarMatricula",
                data: data,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (jsonResult) {
                    if (jsonResult.sucesso === true) {
                        $('#popMensagemSucesso').modal('show');
                        $('#mensagemSucesso').html(jsonResult.mensagem);
                        window.setTimeout(function () {
                            window.location.href = "/Matriculas/Index"
                        }, 3000);
                    } else {
                        $('#popMensagemErro').modal('show');
                        $('#mensagemErro').html(jsonResult.mensagem);
                        window.setTimeout(function () {
                            $('#popMensagemErro').modal('hide');
                        }, 5000);
                    }
                }
            });
        });

        function ListarCursos() {
            var cursos = "";

            $('#ddlCurso').empty();
            $.ajax({
                type: "GET",
                url: "/Matriculas/ListarCursos",
                contentType: "application/JSON; charset=UTF-8",
                dataType: "json",
                success: function (jsonResult) {
                    jsonResult.forEach(c => {
                        cursos += "<option value=" + c.id + ">" + c.descricao + "</option>";
                    });

                    $('#ddlCurso').html(cursos);
                }
            });

        }

        function ListarAlunos() {
            var alunos = "";

            $('#ddlAluno').empty();
            $.ajax({
                type: "GET",
                url: "/Matriculas/ListarAlunos",
                contentType: "application/JSON; charset=UTF-8",
                dataType: "json",
                success: function (jsonResult) {
                    jsonResult.forEach(c => {
                        alunos += "<option value=" + c.id + ">" + c.nome + "</option>";
                    });

                    $('#ddlAluno').html(alunos);
                }
            });
        }

        function ListarParceiros() {
            var parceiros = "";

            $('#ddlParceiro').empty();
            $.ajax({
                type: "GET",
                url: "/Matriculas/ListarParceiros",
                contentType: "application/JSON; charset=UTF-8",
                dataType: "json",
                success: function (jsonResult) {
                    jsonResult.forEach(c => {
                        parceiros += "<option value=" + c.id + ">" + c.nomeCompleto + "</option>";
                    });

                    $('#ddlParceiro').html(parceiros);
                }
            });
        }
    });

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
</script>
<section class="section">
    <h1 class="section-header">
        Registro de Matrículas
    </h1>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="dados-cadastrais" role="tabpanel" aria-labelledby="home-tab">
            <div class="table-responsive" style="overflow-x: auto">
                <table class="table" style="width: 100%">
                    <tr>
                        <th>Data Matrícula</th>
                        <th>Curso</th>
                        <th>Aluno</th>
                        <th>Parceiro</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="hdnIdMatricula" value="0" />
                            <input type="date" id="txtDataMatricula" class="form-control" />
                        </td>
                        <td>
                            <select id="ddlCurso" class="form-control">
                            </select>
                        </td>
                        <td>
                            <select id="ddlAluno" class="form-control">
                            </select>
                        </td>
                        <td>
                            <select id="ddlParceiro" class="form-control">
                            </select>
                        </td>
                    </tr>
                </table>
                <table class="table" style="width: 100%">
                    <tr>
                        <td>
                            <input type="button" id="btnSalvarMatricula" value="Salvar" class="btn btn-primary" />
                            <input type="button" id="btnCancelarMatricula" value="Cancelar" class="btn btn-danger" onclick="window.location.href = '/Matriculas/Index'" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

